html {
  font-family: arial, sans-serif;
  font-color:black;
}
a {
  padding:0px 10px 0px 0px
}
a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header {
  display:flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style-type: none;

}

.Gmail{
  padding:5px 15px 0px 0px;
}

.conex_bouton{
  background-color: #007BFF;
   Color:white;
   border-radius: 5px;
   text-decoration: none;
   margin-top: -15px;
}

.mere{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top:-200px;
}


.menu_recherche {
   display:flex;
   flex-direction:column;
   align-content: center;
   align-self: center;
   border: 0px solid black;
   width: 550px;

}
.Google_img{
  flex:display;
  align-self:center;
}

.barre{
  flex:display;
  align-self:center;
  padding-bottom: 10px;
  border: solid 0px red;
}

.barre_de_recherche {
  display: flex;
  justify-content:center;


}

.largeur_barre {
    box-shadow: 0px 1px 4px 1px grey;
    width: 450px;
}

.twins{
  display: flex;
  align-self: center;
}

.twins_twins {
  display: flex;
  align-self: center;

}

}
.element:nt

input{
  margin-right: 15px;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.54);

}
.alignerfooter{
  display:flex;
  /*justify-content: space-between;*/
}

.barre_footer {
  padding-left: 43px;

}
.barre_footer_gauche{
  width:50%;
  border-top: 1px rgba(0, 0, 0, 0.54) solid;
  padding-top: 10px


}
.barre_footer_droite{
  width: 50%;
  display:flex;
  justify-content: flex-end;
  border-top: 1px rgba(0, 0, 0, 0.54) solid;
  padding-top: 10px

}
